<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite"  parallel="tests">

<!-- <listeners>
		<listener class-name="eleks.com.ExtentReport.MyTestListenerAdapter" />
	</listeners> -->

	<test name="emulator-5554">
		<parameter name="port" value="4040" />
		<parameter name="device" value="emulator-5554" />
		<parameter name="browserName" value="Chrome" />
		<classes>
			<class name="eleks.com.pages_test.LoginPage_test" />
			<class name="eleks.com.pages_test.MailBoxPage_test" />
			<!--<class name="eleks.com.pages_test.CreateEmailPage_test" />
			<class name="eleks.com.pages_test.SuccessSendMailPage_test" />
			<class name="eleks.com.pages_test.SentEmailPage_test" />-->
		</classes>
	</test>

	<test name="emulator-5556">
		<parameter name="port" value="5050" />
		<parameter name="device" value="emulator-5556" />
		<parameter name="browserName" value="Chrome" />
			<classes>
			<class name="eleks.com.pages_test.LoginPage_test" />
			<class name="eleks.com.pages_test.MailBoxPage_test" />
			<!--<class name="eleks.com.pages_test.CreateEmailPage_test" />
			<class name="eleks.com.pages_test.SuccessSendMailPage_test" />
			<class name="eleks.com.pages_test.SentEmailPage_test" />-->
		</classes>
	</test>

</suite> <!-- Suite -->
